<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 连接字符串,(可以扩展支持不同数据库)如果是加密方式，上面一项要设置为true，如果是明文server=127.0.0.1;database=codematic;uid=sa;pwd=,上面设置为false -->
    <add key="ConnectionString" value="server=localhost;user id=root;password=;database=crdb; pooling=true;"/>
    
    <!--<add key="ConnectionString" value="server=127.0.0.1;database=codematic;uid=sa;pwd="/>
    --><!--8618B53C32BF8E0B6CD3BDFF59B9F24BE1C6D586A5915C8B6DC69A09ABB2DF60A4026BDE8E76B6FDE2BFCEA3FA8E06CB--><!--
    <add key="ConnectionString2" value="server=127.0.0.1;database=codematic2;uid=sa;pwd="/>-->
  </appSettings>
</configuration>
